# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.local

# Flask cache
.instance/
.webassets-cache

# Python environment files
.python-version

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# =========================
# Editor files
# =========================

.vscode/*
!.vscode/extensions.json

.idea

# OS files
.DS_Store
Thumbs.db

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?